@import "tailwindcss";
@plugin "daisyui";

/* Main conference layout */
.lk-video-conference {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

/* Video area */


/* Bottom controls */
.lk-control-bar {
  position: sticky !important;
  bottom: 0 !important;
  width: 100% !important;
  background: #1f2937 !important;
  z-index: 50;
}


.lk-video-conference {
  max-height: 100% !important;
  overflow: hidden !important;
}
